@import "../../styles/colors";

#container-article {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1.25rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;

  #content-article {
    .title {
      margin-bottom: 0.5rem;
      font-size: 1.625rem;
      color: $bg-dark;
    }

    #category {
      font-size: 0.875rem;
      color: $semi-dark-color;

      a {
        color: $semi-dark-color;
        text-decoration: none;
        font-weight: 500;
        padding: 0.25rem;

        &:hover {
          color: $main-color-hover;
        }
      }
    }

    p {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;

      a {
        color: $main-color-hover;
        text-decoration: none;
        font-weight: 500;
        padding: 0.15rem;

        &:hover {
          color: $main-color-light;
        }
      }
    }

    #tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      color: $semi-dark-color;
      font-size: 0.8rem;

      a {
        color: $semi-dark-color;
        font-weight: 500;
        text-decoration: none;
        padding: 0.5rem 0.25rem;

        &:hover {
          color: $main-color-light;
        }
      }
    }
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    gap: 1rem;

    .title {
      margin-bottom: 0.6rem;
      font-size: 1.2rem;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 0.6rem;

        a {
          text-decoration: none;
          color: $bg-dark;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#rate {
  max-width: 20rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h4 {
    margin-bottom: 0.5rem;
  }

  #rateButtons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    #usefull {
      color: rgba($second-color, 0.7);
      font-size: 1.5rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $second-color;
      }
    }

    #useless {
      color: rgba($danger-color, 0.7);
      font-size: 1.5rem;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $danger-color;
      }
    }
  }
}

@media (max-width: 768px) {
  #banner-article {
    section {
      grid-template-columns: 1fr;
      gap: 1.875rem 0;

      .support-title {
        text-align: center;
      }

      .search-bar {
        display: grid;
        grid-template-columns: 8fr 2fr;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #container-article {
    display: flex;
    flex-direction: column;
  }
}
