$main-color: #62b357;
$main-color-light: #4fc039;
$main-color-hover: #429e2f;
$second-color: #4fc039;
$danger-color: #dc143c;
$danger-color-hover: #a80828;
$warning-color: #ff9c1b;
$shadow-medium: #cccccc;
$bg-dark: #333333;
$bg-medium: #efefef;
$bg-light: #f3f3f3;
$semi-dark-color: #686868;
$light-color: #fff;