@import "colors";

#banner-article {
  background: linear-gradient(297deg, $main-color, $second-color 100%);
  padding: 1.25rem 2.25rem;

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;

    .support-title {
      color: $background-light;
      font-weight: 900;

      h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .search-bar {
      display: flex;

      input {
        height: 1.85rem;
        width: 100%;
        border: none;
      }

      button {
        height: 1.875rem;
        padding: 0 1rem;
        color: $background-light;
        background: $text-color-light;
        border: none;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

#container-article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2.25rem 2.25rem 0 2.25rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2.5rem;

  #content-article {
    .title {
      margin-bottom: 1.25rem;
      font-size: 1.625rem;
      color: $text-color-light;
    }

    p {
      margin-bottom: 0.625rem;

      a {
        color: $main-color-hover;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: $main-light-color;
        }
      }
    }
  }

  #sidebar {
    .title {
      margin-bottom: 0.25rem;
      font-size: 1.35rem;
    }

    ul {
      list-style: none;
      margin-bottom: 2rem;

      li {
        margin-bottom: 0.625rem;
        a {
          text-decoration: none;
          color: $text-color-light;
          cursor: pointer;

          &:hover {
            font-weight: 500;
          }
        }
      }
    }
  }
}

#rate {
  max-width: 20rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h4 {
    margin-bottom: 0.5rem;
  }
}

#rateButtons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  #useful {
    color: $second-color;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: rgba($second-color, 0.15);
    }
  }

  #useless {
    color: $danger-color;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: rgba($danger-color, 0.15);
    }
  }
}

@media (max-width: 720px) {
  #banner-article {
    section {
      grid-template-columns: 1fr;
      gap: 1.875rem 0;

      .support-title {
        text-align: center;
      }

      .search-bar {
        display: grid;
        grid-template-columns: 8fr 2fr;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #container-article {
    grid-template-columns: 1fr;
    width: 90vw;
    margin: auto;
    padding: 2.5rem 1.25rem;
    gap: 1.25rem;
  }
}
