@import "colors";

#banner-article {
  background: linear-gradient(297deg, $main-color, $second-color 100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;

  .support-title {
    color: $background-light;
    font-weight: 900;
    margin: auto;

    h1 {
      font-size: 2.4rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
    }
  }

  .search-bar {
    display: flex;

    input {
      height: 30px;
      width: 30vw;
      border: none;
    }

    button {
      height: 30px;
      padding: 0 1rem;
      color: $background-light;
      background: $text-color-light;
      border: none;
    }
  }
}

#container-article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 40px;
  width: 80vw;
  margin: auto;
  gap: 40px;

  #content-article {
    .title {
      margin-bottom: 20px;
      font-size: 26px;
      color: $text-color-light;
    }

    p {
      margin-bottom: 10px;
    }
  }

  #sidebar {
    .title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 10px;
        a {
          text-decoration: none;
          color: $text-color-light;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  #banner-article {
    grid-template-columns: 1fr;
    gap: 30px;

    .support-title {
      text-align: center;
    }

    .search-bar {
      justify-content: center;
    }
  }

  #container-article {
    grid-template-columns: 1fr;
    width: 90vw;
    margin: auto;
    padding: 40px 20px;
    gap: 20px;
  }
}
