@import "colors";

.card {
  background: $background-light;
  text-align: center;
  width: auto;
  padding: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: 0.0625rem 0.0625rem 0.625rem #dddddd,
    -0.0625rem -0.0625rem 0.625rem #dddddd;
  cursor: pointer;
  transition: background-color 0.2s;

  i {
    color: $main-color;
    font-size: 1.875rem;
    margin: 0 0 0.625rem 0;
  }

  div {
    color: $text-color-light;
    font-size: 1rem;
    font-weight: 500;
  }

  &:hover {
    background: $background-dark;
  }
}
