@import "colors.scss";

#footer {
  margin-top: 5rem;
  font-size: 0.9375rem;

  .columns-footer-links {
    background: #272b2d;

    .footer-links {
      margin-left: auto;
      margin-right: auto;
      padding: 3.75rem 2.25rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 80rem;

      .text {
        color: white;
        font-weight: 500;
        margin-bottom: 0.625rem;
      }

      i {
        color: $text-main-color;
        font-size: 1.625rem;
        margin-right: 1rem;
        margin-top: 0.4375rem;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      li {
        list-style-type: none;
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: $main-color;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .columns-footer-copy {
    background: #1b1e20;

    .footer-copy {
      padding: 3.125rem;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 82rem;

      .col-1 img {
        max-width: 9.375rem;
      }

      .col-2 {
        text-align: center;
        color: #f1f1f1;
      }

      .col-3 {
        text-align: right;

        i {
          color: $main-color;
          background-color: #272b2d;
          padding: 0.9375rem 1.25rem;
          border-radius: 50%;
          font-size: 1.25rem;

          &:hover {
            color: $background-light;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  #footer .columns-footer-links .footer-links {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }

  #footer .columns-footer-copy .footer-copy {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
  }
}
