@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: $main-color $background-medium;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $background-medium;
}

*::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 2rem;
  border: 3px solid $background-medium;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-medium;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}
