@import "colors";

#banner-home {
  background: linear-gradient(297deg, $main-color, $second-color 100%);
  height: 19.375rem;
  padding: 1.25rem;

  div {
    max-width: 75rem;
    margin: auto;
    position: relative;

    .support-title {
      color: $background-light;
      font-weight: 900;
      position: absolute;
      top: 80px;
      left: 50px;
      z-index: 2;

      h1 {
        font-size: 2.25rem;
        margin-bottom: 0.9375rem;
      }

      p {
        font-size: 1.125rem;
      }
    }

    img {
      width: 22.5rem;
      position: absolute;
      right: 100px;
    }
  }
}

#container-home {
  margin: auto;

  #home-content {
    padding: 0 2rem;
    .title {
      font-size: 1.375rem;
      max-width: 75rem;
      margin: 1.25rem auto;
      padding: 1.25rem 0 1.25rem 0;

      h2 {
        font-size: 1.375rem;
        color: $text-color-light;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.25rem;
      max-width: 75rem;
      margin: auto;
    }
  }
}

#rule-dark {
  margin-top: 1.5rem;
  border-bottom: 0.0625rem solid $border-medium;
}

@media (max-width: 720px) {
  #banner-home {
    overflow: hidden;

    div {
      .support-title {
        max-width: 12rem;
        left: 0;
      }

      img {
        right: -260px;
      }
    }
  }

  #container-home {
    #home-content {
      padding: 0 0.8rem;

      .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.8rem;

        .card {
          font-size: 0.5rem;
          padding: 1rem;
        }
      }
    }
  }
}
