@import "colors";

#banner-home {
  background: linear-gradient(297deg, $main-color, $second-color 100%);
  height: 310px;
  padding: 20px;

  div {
    max-width: 1200px;
    margin: auto;
    position: relative;

    .support-title {
      color: white;
      font-weight: 900;
      position: absolute;
      top: 80px;
      left: 50px;
      z-index: 2;

      h1 {
        font-size: 40px;
        margin-bottom: 15px;
      }

      p {
        font-size: 18px;
      }
    }

    img {
      width: 360px;
      position: absolute;
      right: 100px;
    }
  }
}

#container-home {
  margin: auto;

  #home-content {
    padding: 0 20px;
    .title {
      font-size: 22px;
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px 0px 20px 20px;

      h2 {
        font-size: 22px;
        color: $text-color-light;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 20px 10px;
      max-width: 1200px;
      margin: auto;
    }
  }
}

#rule-dark {
  border-bottom: 1px solid $border-medium;
}

@media (max-width: 720px) {
  #banner-home div img {
    right: -260px;
  }
  #container #home-content .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
