@import "./colors";

#search-page-content {
  background-color: $background-medium;
  padding: 2rem 2.5rem;

  #numberResults {
    background: $cancel-button;
    color: $text-main-color;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
    max-width: 10rem;
    font-weight: 500;
    font-size: 1.15rem;
    border-radius: 0.35rem;
    text-align: center;

    &.green {
      background: $second-color;
    }

    &.red {
      background: $danger-color-hover;
    }
  }

  #results-search {
    box-shadow: 0.1875rem 0.1875rem 0.3125rem $border-medium,
      -0.1875rem -0.18755rem 0.3125rem $border-medium;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
    background: $background-light;
    cursor: pointer;
    transition: 0.2s;

    .article {
      padding: 1rem;

      .title {
        color: $text-color-light;
        font-size: 1.5rem;
        font-weight: 500;
      }

      .description {
        font-weight: 500;
      }
    }

    &:hover {
      background: $background-medium;
    }
  }
}
