@import "../../styles/colors";

.card {
  background: $background-light;
  text-align: center;
  width: auto;
  padding-block: 1.25rem;
  padding-inline: 0.5rem;
  border-radius: 0.625rem;
  box-shadow: 0.0625rem 0.0625rem 0.625rem #dddddd,
    -0.0625rem -0.0625rem 0.625rem #dddddd;
  cursor: pointer;
  transition: background-color 0.2s;

  svg {
    color: $main-color;
    font-size: 2rem;
    margin: 0 0 0.625rem 0;
  }

  div {
    color: $text-color-light;
    font-size: 1rem;
    font-weight: 500;
  }

  &:hover {
    background: $background-dark;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;

    div {
      color: $text-color-light;
      font-size: 0.9rem;
      font-weight: 500;
    }

    &:hover {
      background: $background-dark;
    }
  }
}
