@import "../../styles/colors";

#header {
  padding: 0.3rem 1.25rem;
  max-width: 75rem;
  margin: auto;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      margin-right: 1.25rem;
      width: 9rem;
    }

    .nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 0.0625rem;

      a {
        text-decoration: none;
        color: $bg-dark;
        font-size: 0.875rem;
        font-weight: 600;
        transition: color 0.2s;
        padding: 0.75rem;

        &:hover {
          color: $main-color;
        }
      }

      a:last-child {
        border: 0.125rem solid $main-color;
        color: $main-color;
        padding: 0.625rem 1.25rem;
        border-radius: 0.4375rem;
      }
    }

    .nav-mobile-overlay {
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.7);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 3;
      opacity: 0;
      visibility: hidden;
      transition: 0.2s;

      .nav-mobile {
        background: linear-gradient(225deg, $main-color, $second-color 100%);
        position: fixed;
        top: 0;
        right: -50vw;
        height: 100vh;
        width: 17.1875rem;
        padding: 1.25rem;
        z-index: 5;
        border-radius: 1.125rem 0 0 1.125rem;
        transition: 0.5s;

        img {
          margin: 0.9375rem 0 0 0.9375rem;
        }

        ul {
          margin-top: 1.25rem;
          list-style: none;
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 0.375rem;

            * {
              color: $light-color;
            }

            a {
              text-decoration: none;
            }

            svg {
              margin-right: 0.625rem;
              font-size: 1rem;
            }

            &:hover {
              background: $bg-light;

              * {
                color: $second-color;
              }
            }
          }
        }

        &.show {
          right: 0;
        }
      }

      &.show {
        visibility: visible;
        opacity: 1;
      }
    }

    .nav-mobile-button {
      color: $bg-dark;
      display: none;
      font-size: 1.3rem;
      cursor: pointer;
      transition: 200ms;
      background: $bg-medium;
      padding: 0.4rem;
      border-radius: 0.1rem;

      &:hover {
        color: $second-color;
      }
    }
  }
}

#rule-light {
  border-bottom: 0.0625rem solid $bg-light;
  width: 80%;
  margin: 0.625rem auto;
}

@media (max-width: 768px) {
  #header section .nav-mobile-button {
    display: block;
  }

  #header section .nav {
    display: none;
  }
}
