@import "../../styles/colors";

#footer {
  .columns-footer-links {
    background: #272b2d;

    .footer-links {
      padding: 3rem 1.25rem;
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 75rem;

      .text {
        color: white;
        font-weight: 500;
        margin-bottom: 0.6rem;
      }

      svg {
        color: $light-color;
        margin-right: 1rem;
        margin-top: 0.4375rem;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      li {
        list-style-type: none;
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: $second-color;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .columns-footer-copy {
    background: #1b1e20;

    .footer-copy {
      padding: 3rem 1.25rem;
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 75rem;

      .col-1 img {
        max-width: 9rem;
      }

      .col-2 {
        text-align: center;
        color: #f1f1f1;

        a {
          text-decoration: none;
          color: $second-color;
          font-weight: 600;
          font-size: 1rem;
          display: inline-block;
          margin-right: 0.4rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .col-3 {
        text-align: right;

        svg {
          color: $second-color;
          background-color: #272b2d;
          border-radius: 50%;

          &:hover {
            color: $light-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #footer .columns-footer-links .footer-links {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }

  #footer .columns-footer-copy .footer-copy {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
  }
}
