@import "../../styles/colors";

#search-result {
  box-shadow: 0.1875rem 0.1875rem 0.3125rem $shadow-medium,
    -0.1875rem -0.18755rem 0.3125rem $shadow-medium;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  background: $light-color;
  cursor: pointer;
  transition: 200ms;

  .article {
    padding: 1rem;

    .title {
      color: $bg-dark;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .description {
      font-weight: 500;
    }
  }

  &:hover {
    background: $bg-medium;
  }
}
