#search-result {
  box-shadow: 0.1875rem 0.1875rem 0.3125rem $border-medium,
    -0.1875rem -0.18755rem 0.3125rem $border-medium;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  background: $background-light;
  cursor: pointer;
  transition: 0.2s;

  .article {
    padding: 1rem;

    .title {
      color: $text-color-light;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .description {
      font-weight: 500;
    }
  }

  &:hover {
    background: $background-medium;
  }
}
