@import "../../styles/colors";

#banner {
  background: linear-gradient(297deg, $main-color, $second-color 100%);

  section {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 75rem;
    margin-inline: auto;

    .support-title {
      color: $background-light;
      font-weight: 900;

      h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .search-bar {
      display: flex;

      input {
        height: 1.85rem;
        width: 100%;
        border: none;
        padding-left: 0.25rem;
        font-size: 1.15rem;
        outline: none;
      }

      button {
        height: 1.875rem;
        padding: 0 1rem;
        color: $background-light;
        background: $text-color-light;
        border: none;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #banner {
    section {
      grid-template-columns: 1fr;
      gap: 1.5rem 0;

      .support-title {
        text-align: center;

        h1 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1rem;
        }
      }

      .search-bar {
        display: grid;
        grid-template-columns: 8fr 2fr;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
